#btnPoint {
    position: absolute;
    right: 20px;
    top: 140px;
}

#btnLine {
    position: absolute;
    right: 20px;
    top: 200px;
}

#btnArea {
    position: absolute;
    right: 20px;
    top: 260px;
}

#btnEdit {
    position: absolute;
    right: 20px;
    top: 320px;
}

#btnDelete {

    position: absolute;
    right: 20px;
    top: 380px;
}

#btnDeleteAll {
    position: absolute;
    top: 10px;
    left: 440px;
}

#showLayer {
    position: absolute;
    top: 10px;
    left: 700px;
}

#btnOperations {
    position: absolute;
    right: 140px;
    top: 10px;
}

#btnSymbologie {
    position: absolute;
    right: 200px;
    top: 10px;
}

#showLayer {
    background-color: cadetblue;
    border-radius: 15px;
    padding: 10px 15px 15px 15px;
    position: absolute;
    top: 20px;
    left: 60px;
}

.btn-active {
    background-color: #38adc7 !important;
}

.olControlScale {
    top: 5em !important;
    left: 0em !important;
}

.button {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
    width: 150px;
    height: 40px;
    transition: all 0.5s;
    cursor: pointer;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.ol-attribution.ol-uncollapsible img {
    display: none;
}

.ol-mouse-position {
    /*top: auto;*/
    bottom: 200em;
    /*top: 500px;*/
}

#coords {
    position: absolute;
    bottom: 50px;
    left: 50px;
    right: 50px;
    z-index: 1;
}
